.drp-container {
  border-radius: 20px;
  border: 3px solid #fff;
  background: #f4f5fa;
}

.drp-container .item {
  background-color: #3c244b;
  color: white;
}

.countrySelector {
  border-radius: 17px;
  background: #f4f5fa;
}
.companies {
  border-radius: 13px;
  background: #e9ebf6;
  display: grid;
}

